body {
  background-color: #eee;
  font-family: "Red hat Display", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  background-color: #1f2949;
  color: white;
  max-width: 330px;
  width: 100%;
  text-align: center;
  background-image: url(../img/background.png);
  background-size: cover;
  border-radius: 15px;
  box-shadow: #0000001a 0 10px 50px;
}
